models/sam_vit_h_4b8939.pth
__pycache__
myenv 
venv
backend/static/processed/*
backend/static/uploads/*
backend/logs/app.log
dpt_swin2_large_384
Home Decor Advisor.pdf
*.log
backend/logs/app.log
backend/.env
